:root{
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
}
body{
    font-family: 'Open Sans', sans-serif;
}


    .button{
        margin: 15px 15px 0 auto;
        display: block;
        width: fit-content;
        background: #0075ff;
        color: white;
        padding: 4px 10px;
        border-radius: 6px;
        cursor: pointer;
        font-size: 14px;
    }
